*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}
nav{
    display: flex;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    background-color: #2c3e50;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}
nav a:hover{
    color: #1abc9c;
}
#skills ul{
    list-style: none;
    padding: 0;
}
section{
    padding: 60px 20px;
    text-align: center;
}
@media(max-width: 768px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 2rem;
    }
}